<%- include('../partials/header') %> 

<section id="show-page">
  <div>Name:</div>
  <div><%= recipe.name %></div>
  <div>Ingredients:</div>
  <div><%= recipe.ingredients %></div>
  <div>Directions:</div>
  <div><%= recipe.directions %></div>
  <div>Categories:</div>
  <div><%= recipe.categories %></div> 

  <br><br>

  <h5>Comments</h5>
  <% recipe.comments.forEach(function(c) { %>
    <% if (recipe.comments.length) { %>  
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
            <th>Rating</th>  
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% let total=0 %>
            <% total +=c.rating %>
              <tr> 
                <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
                <td><%= c.createdAt.toLocaleDateString() %></td>
                <td><%= c.text %></td>
                <td><%= c.rating %></td>
              </tr>
          </tbody>
        </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
    <% } %>
    <% if (user) { %>
      <td><a href="/comments/<%= c._id %>/edit">EDIT MY COMMENT</a></td>
      <td> 
        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form> 
      </td>
    <% } %>
  <% }); %>

  <% if (user) { %>
  <td>
    <form id="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
      <label>Add Comment:</label>
      <textarea name="text"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    <input type="submit" value="Add Comment">
  </form>
  </td>
  <% } %>

  <br><br>

  <% if (user) { %>
    <div>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE RECIPE</button></form> 
      <a href="/recipes/<%= recipe.id %>/edit">EDIT RECIPE</a>
    </div>
  <% }; %> 

</section>


<%- include('../partials/footer') %>
  