<%- include('../partials/header') %> 

<section id="show-one-recipe-page">
  <div class="one-recipe-container">
      <img src="<%= recipe.imgURL%>" class="img-fluid" alt="Responsive image">
      <h1><%= recipe.name %></h1>
      <h3>Ingredients:</h3>
      <p><%= recipe.ingredients %></p>
      <h3>Directions:</h3>
      <p><%= recipe.directions %></p>
      <h3>Categories:</h3>
      <p><%= recipe.categories %></p> 
  </div>

  <div class="comments-container">
    <h6>Comments</h6>
    <% if (recipe.comments.length) { %>  
    <table id="comments-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Rating</th>  
        </tr>
      </thead>
      <tbody>
          <% recipe.comments.forEach(function(c) { %>
            <% let total=0 %>
              <% total +=c.rating %>
                <tr> 
                  <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>"><%= c.userName %></td>
                  <td><%= c.createdAt.toLocaleDateString() %></td>
                  <td><%= c.text %></td>
                  <td><%= c.rating %></td>
                </tr>
      </tbody>
    </table>
            
            <% if (user) { %>
              <div>
                <form class="edit-comment-form" action="/recipes/comments/<%= c._id %>?_method=PUT" method="POST">
                  <input type="content" name="text" value="<%= c.text %>">
                  <label>Rating:</label>
                <select name="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button id="button">Save Comment</button>
                </form>
          
                <button class="show-button">Edit Comment</button>

                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form> 
              </div>
        <% } %>
        <% }); %>
        <% } else { %>
        <h5>No Comments Yet</h5>
        <% } %>
        
    <script>
      const $form = $('.edit-comment-form');
      const $commentsContainer = $('.comments-container');
            
      $form.hide();
      $commentsContainer.on('click','.show-button', function() {
        $(this).parent().find('.edit-comment-form').show();
        $(this).hide();
      })
    </script>

    <% if (user) { %>
      <form class="add-comment-form" method="POST" action="/recipes/<%= recipe._id %>/comments">
        <textarea name="text" placeholder="Type Comment Here..."></textarea>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      <button id="button">Submit</button>
    </form>

    <button class="show-second-button">ADD COMMENT</button>
    <% } %>

    <script>
      const $secondform = $('.add-comment-form');

      $secondform.hide();
      $commentsContainer.on('click','.show-second-button', function() {
        $(this).parent().find('.add-comment-form').show();
        $(this).hide();
      })
    </script>

  </div>

  <% if (user) { %>
    <div class="bottom-btns">
      <button><a href="/recipes/<%= recipe.id %>/edit" class="edit-recipe-btn">EDIT RECIPE</a></button>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">DELETE RECIPE</button></form> 
    </div>
  <% }; %> 
  
</section>


<%- include('../partials/footer') %>
  